{% extends 'base.html' %}

{% load tailwind_filters %}

{% block content %}

<div class="max-w-md mx-auto mt-20">
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Hello, Work!</h1>
  <form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="button w-full hover:bg-gray-400 px-3 py-2 rounded-md text-white">Войти</button>
  </form>
  <div class="py-5 border-t border-gray-200 mt-5">
    <a href="{% url 'signup' %}" class="tracking-widest text-gray-600 hover:text-blue-400 text-sm font-medium title-font">
      Зарегистрироваться можно тут
    </a>
    <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-right">
      <a>Troubles? </a>
      <a href="https://e.mail.ru/login?utm_source=idmail&utm_medium=ph&utm_campaign=mailid&afterRedirect=1&back=https%3A%2F%2Fid.mail.ru%2Fprofile%3Futm_campaign%3Dmailid%26amp%3Butm_medium%3Dph%26amp%3Bfrom%3Dheadline#search"
      class="text-blue-500  ">supergirl@horec.kz</a>
    </div>
  </div>
</div>
{% endblock content %}