{% extends "base.html" %}
{% block content %}
{% load static %}
{% load tailwind_filters %}

<style>
  button {
    color:#1F98AD
  }
  .thead1 {
    color: #34495E;
  }
  table, th, td{
    width: 100%;
    border: 1px solid #718096;
  }
  th, td {
    border-color: #718096;
  }
</style>

<div class="sidebar2 bg-gray-100">
  <aside aria-label="Sidebar">
    <nav class="justify-between flex flex-col">
      <div class="py-8 ml-6 items-center">
          <a class="text-xl font-bold">Фильтры</a>
          <div class="w-48">
              <div class="object-center flex flex-wrap sm:flex-row flex-col py-5">
                <form method="get">
                  {% csrf_token %}
                  {{ filter.form|crispy }}
                  <button type="submit" class="button button2 text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-500 rounded">
                    Поиск
                  </button>
                </form>  
              </div>
            </div>
      </div>
    </nav>
  </aside>
</div>

<section class="sm:py-12 dark:bg-gray-800 dark:text-gray-100 ml-8">
  <div class="lg:w-2/3 w-full mx-auto overflow-auto py-16">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900 text-left">
          Закупки
        </h1>
        <div class="py-4">
          <a href="{% url 'purchases:purchase-create' %}" class="px-4 py-2 text-xs bg-blue-100 text-blue-500   rounded uppercase font-semibold hover:bg-white">
            Создать
          </a>
        </div>

        <div class="py-10">
          <table class="table-auto w-full text-center whitespace-no-wrap">
              <thead class="bg-gray-100">
                  <tr>
                      <th class="w-10">№</th>
                      <th>Дата создания</th>
                      <th>id проекта</th>
                      <th>id</th>
                      <th>Название</th>
                      <th>Бренд</th>
                      <th>Дедлайн</th>
                      <th>Статус</th>
                      <th>Сумма сделки</th>
                      <th>Оплачено</th>
                      <th>Долг</th>
                      <th>Менеджер</th>
                  </tr>
              </thead>
              <tbody>
                  {% for purchase in purchases %}
                  <tr class="hover:bg-gray-100">
                      <td class="w-10 text-center">
                        <a href="{% url 'purchases:purchase-detail' purchase.id %}">{{forloop.counter}}</a>
                      </td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}">{{purchase.date}}</a></td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}"> </a></td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}">{{purchase.id}}</a></td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}">{{purchase.name}}</a></td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}">{{purchase.seller}}</a></td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}">{{purchase.deadline}}</a></td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}">{{purchase.status}}</a></td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}">{{purchase.get_total}}</a></td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}">{{purchase.received}}</a></td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}">{{purchase.get_debt}}</a></td>
                      <td><a href="{% url 'purchases:purchase-detail' purchase.id %}">{{purchase.manager}}</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
  </section>
{% endblock content %}
