{% load static %}
{% load humanize %}

<!DOCTYPE html>

<style>
    @font-face {
      font-family: "Roboto-Regular";
      src: url("/static/fonts/Roboto/Roboto-Regular.ttf");
    }
    .button {
      background-color: #1F98AD;
    }
    .header1 {
      height: 48px;
      width:100%;
      background-color: #34495E;
      position: fixed;
    }
    .color1 {
      color: #34495E;
    }
    
  </style>

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>HOREC CRM</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>HOREC CRM</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<header>
  <div class="header1">
  </div>
</header>
<body>
    <div class="max-w-7xl mx-auto">
        {% include "navbar.html" %}
        {% block content %}
        {% endblock content %}
    </div>
    {% include "scripts.html" %}
</body>
</html>