<style>
  @font-face {
      font-family: "Roboto-Regular";
      src: url("/static/fonts/Roboto/Roboto-Regular.ttf");
    }
  .button1 {
    background-color: #1F98AD;
  }
  .button2 {
    background-color: #34495E;
  }
  .header1 {
    z-index: 300;
    height: 48px;
    width:100%;
    background-color: #34495E;
    position: fixed;
  }
  .color1 {
    background-color: #34495E;
  }
  .wrap {
    width:500px; margin:0 auto; 
  }
  .body { 
    overflow:auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }
  .sidebar {
    z-index: 300;
    height: 100%;
    float:left;
    width:48px;
    position: fixed;
    }
    
  .sidebar2 {
    z-index: 300;
    height: 100%;
    float:left;
    width:204px;
    position: fixed;
    margin-left: 76px;
    margin-top: 48px;
    }
  li:hover {
    background-color: #1F98AD;
  }
</style>

<header class="header header1 text-gray-800 body-font">
  <div class="container mx-auto flex flex-wrap p-1 flex-col md:flex-row items-center">
    {% if request.user.is_authenticated %}
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <div class="font-sans block mt-4 lg:inline-block lg:mt-0 lg:ml-6 align-middle text-white hover:text-blue-200 mr-8">
        <a href="{% url 'catalog:summary' %}" role="button" class="relative flex text-right">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.8" stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </a>
      </div>
    </nav>
    
    <a href="{% url 'logout' %}" class="inline-flex items-center bg-gray-100 border-0 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
        Выйти из: {{ request.user.username }}
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
    {% else %}
    {% endif %}
  </div>
</header>
  
  <div class="sidebar class color1">
    <aside aria-label="Sidebar">
      <nav class="justify-between flex flex-col">
        <div class="h-16 w-48 button1">
          <a class="flex title-font font-normal py-4 ml-12">
            <span class="text-xl text-white">Horec</span>
            <span class="text-xl text-white font-bold">CRM</span>
          </a>
        </div>

        <div class="overflow-y-auto bg-gray-50 rounded dark:bg-gray-800">
          <ul>
            <li class="py-1">
              <div class="text-center">
                <a href="{% url 'temp' %}" class="flex items-center ml-3 p-2 text-sm font-normal text-gray-200">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.8" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941" />
                  </svg>
                </a>
                <span class="text-white text-xs"><a href="{% url 'projects:performance' %}">Показатели</a></span>
              </div>
             </li>
              <li class="py-1">
                <div class="text-center">
                <a href="{% url 'catalog:catalog-list' %}" class="flex items-center ml-3 p-2 text-sm font-normal text-gray-200">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.8" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
                  </svg>
                </a>
                <span class="text-white text-xs"><a href="{% url 'catalog:catalog-list' %}">Каталог</a></span>
              </div>
            </li>
             <li class="py-1">
              <div class="text-center">
                <a href="{% url 'orders:order-list' %}" class="flex items-center ml-3 p-2 text-sm font-normal text-gray-200 ">
                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.8" stroke="currentColor" class="w-6 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
                 </svg>
               </a>
               <span class="text-white text-xs"><a href="{% url 'orders:order-list' %}">Заказы</a></span>
              </div>
            </li>
             <li class="py-1">
              <div class="text-center">
                <a href="{% url 'purchases:purchase-list' %}" class="flex items-center ml-3 p-2 text-sm font-normal text-gray-200 ">
                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.8" stroke="currentColor" class="w-6 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                 </svg>
               </a>
               <span class="text-white text-xs"><a href="{% url 'purchases:purchase-list' %}">Закупки</a></span>
              </div>
            </li>
             <li class="py-1">
              <div class="text-center">
                <a href="{% url 'temp' %}" class="flex items-center ml-3 p-2 text-sm font-normal text-gray-200 ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.8" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                  </svg>
                </a>
                <span class="text-white text-xs"><a href="{% url 'temp' %}">Проекты</a></span>
              </div>
            </li>
            
            <li class="py-1">
              <div class="text-center">
                <a href="{% url 'database' %}" class="flex items-center ml-3 p-2 text-sm font-normal text-gray-200 ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.8" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                  </svg>
                </a>
                <span class="text-white text-xs"><a href="{% url 'database' %}">База данных</a></span>
              </div>
            </li>
             <li class="py-1">
              <div class="text-center">
                <a href="{% url 'temp' %}" class="flex items-center ml-3 p-2 text-sm font-normal text-gray-200 ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.8" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0015 0m-15 0a7.5 7.5 0 1115 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077l1.41-.513m14.095-5.13l1.41-.513M5.106 17.785l1.15-.964m11.49-9.642l1.149-.964M7.501 19.795l.75-1.3m7.5-12.99l.75-1.3m-6.063 16.658l.26-1.477m2.605-14.772l.26-1.477m0 17.726l-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205L12 12m6.894 5.785l-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864l-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495" />
                  </svg>
                </a>
                <span class="text-white text-xs"><a href="{% url 'temp' %}">Настройки</a></span>
              </div>
            </li>
            
          </ul>
       </div>
      </nav>
    </aside>
  </div>
