{% extends "base.html" %}
{% block content %}
{% load static %}
{% load tailwind_filters %}
<style>
    table, th, td{
    border: 1px solid #718096;
    }
    th, td {
    border-color: #718096;
    }
</style>

<div class="sidebar2 bg-gray-100">
    <aside aria-label="Sidebar">
      <nav class="justify-between flex flex-col">
        <div class="py-8 ml-6 items-center">
            <a class="text-xl font-bold">Фильтры</a>
            <div class="w-48">
                <div class="object-center flex flex-wrap sm:flex-row flex-col py-5">
                  <form method="get">
                    {% csrf_token %}
                    {{ filter.form|crispy }}
                    <button type="submit" class="button button2 text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-500 rounded">
                      Поиск
                    </button>
                  </form>  
                </div>
              </div>
        </div>
      </nav>
    </aside>
</div>

<section class="sm:py-12 dark:bg-gray-800 dark:text-gray-100 ml-8">
    <div class="lg:w-2/3 w-full mx-auto py-16">
        <div class="ml-3"> 
            <a class="button button1 inline-flex text-white bg-border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-lg" href="{% url 'catalog:category-list' %}">
              Категории
            </a>
            <a class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-blue-200 rounded text-lg" href="{% url 'catalog:catalog-create' %}">
              Создать
            </a>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="flex flex-col text-center w-full mb-10">
              <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">ВСЕ, ЧТО МОЖНО ПРОДАТЬ</h2>
              <h1 class="sm:text-3xl text-base font-medium title-font mb-4 text-gray-900">Каталог</h1>
              <div class="flex mx-auto border-2 border-gray-600 rounded overflow-hidden mt-6">
                <button class="py-1 px-4 focus:outline-none hover:bg-gray-600 hover:text-white"><a href="{% url 'catalog:catalog-list' %}">
                  Обычный
                </a></button>
                <button class="py-1 px-4 bg-gray-600 text-white focus:outline-none"><a href="">
                  Построчный
                </a></button>
              </div>
            </div>
          </div>

          <div class="py-10">
            <table class="table-auto w-full text-center whitespace-no-wrap">
                <thead class="bg-gray-100">
                    <tr>
                        <th></th>
                        <th>Имя</th>
                        <th>Бренд</th>
                        <th>Модель</th>
                        <th>Артикул</th>
                        <th>Категория</th>
                        <th>Валюта</th>
                        <th>Цена закупа</th>
                        <th>Цена продажи</th>
                        <th>В наличии</th>
                        <th>Резерв</th>
                        <th>Ожидание</th>
                        <th>Код</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in catalog %}
                    <tr class="hover:bg-gray-100">
                        <td class="w-10 text-center">
                            <input type="checkbox" value="{{product.id}}">
                        </td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.name}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.brand}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.model}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.article}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.category}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.sell_price.currency}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.purchase_price}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.sell_price.amount}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.stock_qty}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.get_orders_count}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.get_purchases_count}}</a></td>
                        <td><a href="{% url 'catalog:catalog-detail' product.id %}">{{product.code}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
      </div>
    </section>
  
{% endblock content %}
