{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="py-4 mb-8 ml-3">
      <a href="{% url 'catalog:catalog-list' %}" class="ml-40 button button1 inline-flex text-white bg-border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-lg" href="{% url 'catalog:category-list' %}">
        Каталог
      </a>
    </div>
    <div class="text-center mb-10">
      <div class="lg:w-4/5 mx-auto rounded-lg h-64 overflow-hidden mb-10">
        <img alt="content" class="object-cover object-center h-full w-full" src="/static/images/Showcase.jpg">
      </div>
      <h1 class="text-4xl font-medium text-center title-font text-gray-900 mb-2">Категории</h1>
    </div>

    <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
      {% for category in category_list %}
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-100 hover:bg-blue-100 rounded flex p-4 h-full items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
          </svg>
          <span class="ml-4 title-font font-medium">
            <a href="{% url 'catalog:category-detail' category.pk %}">
              {{category.name}}
            </a>
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}