{% extends "base.html" %}

{% block content %}
<section class="text-gray-600 body-font py-4 ml-8">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div>
      <a class="button button1 inline-flex text-white bg-border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-lg" href="{% url 'catalog:category-list' %}">
        Категории
      </a>
    </div>

    <div class="lg:w-4/6 mx-auto">
      <div class="flex flex-col text-center w-full mb-20 py-3">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900 py-2">{{category.name}}</h1>
          <h2 class="font-medium title-font tracking-widest text-gray-900 mb-4 text-sm text-center">Субкатегории:</h2>
          <nav class="flex flex-wrap list-none -mb-1">
            {% for subc in category.subcategories.all %}
            <div class="lg:w-1/3 mb-1 w-1/2">
              <a class="text-gray-600 hover:text-gray-800">{{subc.name}}</a>
            </div>
            {% endfor %}
          </nav>
        
        <div class="w-full mx-auto overflow-auto py-8">
          <h2 class=" text-2xl font-medium text-center title-font text-gray-900 mb-8">Товары под этой категорией</h2>
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="button button1 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-100 rounded-tl rounded-bl">Фото</th>
              <th class="button button1 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-100">Наименование</th>
              <th class="button button1 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-100">Цена</th>
              <th class="button button1 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-100">В наличии</th>
              <th class="button button1 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-100">Резерв</th>
              <th class="button button1 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-100">Ожидание</th>
            </tr>
          </thead>
          <tbody>
            {% for product in category.categories.all %}
            <tr>
              <td class="px-4 py-3 text-lg text-gray-900">
                <img alt="{{product.image}}" class="object-cover object-center w-10 h-10 block" src="/{{product.image}}">
              </td>
              <td class="px-4 py-3 text-lg text-gray-900">
                <a href="{% url 'catalog:catalog-detail' product.pk %}" class="hover:text-blue-500">
                  {{product.brand}} {{product.model}} {{product.article}}</td>
                </a>
              <td class="px-4 py-3 text-lg text-gray-900">{{product.sell_price}}</td>
              <td class="px-4 py-3 text-lg text-gray-900">{{product.stock_qty}}</td>
              <td class="px-4 py-3 text-lg text-gray-900">{{product.get_orders_count}}</td>
              <td class="px-4 py-3 text-lg text-gray-900">{{product.get_purchases_count}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6" class="px-4 py-3 text-lg text-gray-900">
                Тут пусто....
                <img class="w-40 h-40 block mx-auto mb-10 object-cover object-center rounded" alt="empty_gif" src="https://64.media.tumblr.com/4657dd9a7e9511810751a44bfa250af1/tumblr_owug3x0o8k1qza1qzo1_500.gifv">
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock content %}