{% extends "base.html" %}
    {% block content%}
    {% load tailwind_filters %}

    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
              <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900 text-center">
                Корзина
              </h1>
              <p class="w-full leading-relaxed text-lg text-gray-700 text-center">
                Если вы набрали в корзину все, что надо, выберите заказ и отправьте туда товары :)
                Рекомендуем добавлять окончательные скидки и валюту в
              <a href="{% url 'orders:order-list' %}" class="text-lg text-blue-500 font-semibold">заказе</a>
              <a>или</a>
              <a href="{% url 'purchases:purchase-list' %}" class="text-lg text-blue-500 font-semibold">закупке</a>
            </p>
          </div>
            <div class="lg:w-2/3 w-full mx-auto overflow-auto">
              <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                  <tr>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">№</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Товар</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Кол-во</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Цена за ед.</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Скидка</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">В сумме</th>
                    <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for cart_item in object.items.all %}
                  <tr>
                    <td class="px-4 py-3">{{ forloop.counter }}</td>
                    <td class="px-4 py-3">
                      <a href="{% url 'catalog:catalog-detail' cart_item.item.pk %}" class="hover:text-blue-600">
                      {{cart_item.item.brand}} {{cart_item.item.model}}
                      </a>
                  </td>
                    <td class="px-4 py-3">
                      <a href="{% url 'catalog:remove-single-item-from-cart' cart_item.item.pk %}">
                          <i class="fas fa-minus mr-2"><b>-</b></i>
                      </a>
                      {{cart_item.quantity}}
                      <a href="{% url 'catalog:add-to-cart' cart_item.item.pk %}">
                          <i class="fas fa-plus ml-2"><b>+</b></i>
                      </a>
                  </td>
                    <td class="px-4 py-3">{{cart_item.item.sell_price}} {{cart_item.item.currency}}</td>
                    <td class="px-4 py-3">{{cart_item.discount}}</td>
                    <td class="px-4 py-3">{{cart_item.get_total_item_price}}</td>
                    <td>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </a>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                      <td colspan='3'>
                        <div class="py-5 text-lg">
                          <a class="text-gray-900" href="{% url 'catalog:catalog-list' %}">
                            Тут пусто, выросла капуста!
                            </a>
                        </div>
                      </td>
                  </tr>
                {% endfor %}
                <tr class="w-full bg-gray-100">
                  <td colspan="6" class="px-4 py-2 text-xl text-gray-900 font-medium">Итого:</td>
                  <td class="px-4 py-2 text-xl text-gray-900 font-medium">{{object.get_total}} тг</td>
                </tr>
                </tbody>
              </table>
              <div class="flex flex-wrap justify-center py-10">
                <button class="px-8 py-3 m-2 text-lg border rounded dark:text-gray-50 dark:border-gray-700"><a href="{% url 'orders:order-list' %}">В заказ</a></button>
                <button class="px-8 py-3 m-2 text-lg border rounded dark:text-gray-50 dark:border-gray-700"><a href="{% url 'purchases:purchase-list' %}">В закупку</a></button>
              </div>
            </div>
            </div>
      </section>
    {% if request.user.is_organiser %}
    {% endif %}
    {% endblock content %}
