{% extends "base.html" %}
    {% block content%}
    {% load tailwind_filters %}

    <section class="sm:py-12 dark:bg-gray-800 dark:text-gray-100">
      <div class="lg:w-2/3 w-full mx-auto py-16">
          <div> 
              <a class="button button1 inline-flex text-white bg-border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-lg" href="{% url 'catalog:catalog-list' %}">
                Каталог
              </a>
            </div>

            <div class="flex flex-wrap -m-4 mb-4">
              <div class="flex flex-col text-center w-full mb-10">
                <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">НАБЕРИТЕ СЮДА ТОВАРОВ ДЛЯ ЗАКАЗА/ЗАКУПКИ</h2>
                <h1 class="sm:text-3xl text-base font-medium title-font mb-4 text-gray-900">Корзина</h1>
                <div class="flex mx-auto border-2 border-gray-600 rounded overflow-hidden mt-6">
                  <button class="py-1 px-4 focus:outline-none hover:bg-gray-600 hover:text-white"><a href="{% url 'orders:order-list' %}">
                    В заказы
                  </a></button>
                  <button class="py-1 px-4 focus:outline-none hover:bg-gray-600 hover:text-white"><a href="{% url 'purchases:purchase-list' %}">
                    В закупки
                  </a></button>
                </div>
              </div>
  
              <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                  <tr>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">№</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Товар</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Кол-во</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Цена за ед.</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Скидка</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">В сумме</th>
                    <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for cart_item in object.items.all %}
                  <tr>
                    <td class="px-4 py-3">{{ forloop.counter }}</td>
                    <td class="px-4 py-3">
                      <a href="{% url 'catalog:catalog-detail' cart_item.item.pk %}" class="hover:text-blue-600">
                      {{cart_item.item.brand}} {{cart_item.item.model}}
                      </a>
                    </td>
                    <td class="px-4 py-3">
                      <a href="{% url 'catalog:remove-single-item-from-cart' cart_item.item.pk %}">
                          <i class="fas fa-minus mr-2"><b>-</b></i>
                      </a>
                      {{cart_item.quantity}}
                      <a href="{% url 'catalog:add-to-cart' cart_item.item.pk %}">
                          <i class="fas fa-plus ml-2"><b>+</b></i>
                      </a>
                    </td>
                    <td class="px-4 py-3">{{cart_item.item.sell_price}} {{cart_item.item.currency}}</td>
                    <td class="px-4 py-3">{{cart_item.discount}}</td>
                    <td class="px-4 py-3">{{cart_item.get_total_item_price}}</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="6">
                      <div class="py-8">
                        <img class="w-40 h-40 block mx-auto mb-10 object-cover object-center rounded" alt="empty_gif" src="https://64.media.tumblr.com/4657dd9a7e9511810751a44bfa250af1/tumblr_owug3x0o8k1qza1qzo1_500.gifv">
                        <div class="flex flex-col text-center w-full">
                          <h1 class="text-xl font-medium title-font mb-4 text-gray-900">Тут пусто, выросла капуста :)</h1>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                <tr class="w-full bg-gray-100">
                  <td colspan="6" class="px-4 py-2 text-xl text-gray-900 font-medium">Итого:</td>
                  <td class="px-4 py-2 text-xl text-gray-900 font-medium">{{object.get_total}}</td>
                </tr>
                </tbody>
              </table>
            </div>

        </div>
      </section>
    {% if request.user.is_organiser %}
    {% endif %}
    {% endblock content %}
